body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #384ca4;
    color: white;
    overflow-x: none;
    font-family: 'Roboto', sans-serif;
} 

#add-task-container{
    width: 320px;
    background-color: rgba(14, 13, 71, 0.368);
    padding: 10px;
    border-radius: 20px;
    border: 20px;
    display: flex;
    margin-bottom: 20px;
    position: fixed;
    bottom: 10px;
    left: 5%;
    margin: auto;
}

input{
    flex: 5;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 1.2rem;
    padding: 5px;
    border: none;
}


#add-task{
    transition: .3s;
    font-size: 1.2rem;
    padding: 12px 10px;
    width: 50px;
    height: 50px;
    text-align: center;
    /* flex: 1; */
    background-color: #ec04ff;
    box-shadow: 0px 0px 3px #ec04ff;
    cursor: pointer;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 50%;
}


/* styling task from js */

#task-container{
    margin-bottom: 100px;
}

.task{
    width: 330px;
    margin: auto;
    background-color:#031955;
    color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.task li{
    list-style: none;
    flex: 4;
    padding: 5px;
    font-size: 15px;
    margin: 10px;
}

.task button{
    flex: 1;
    border-radius: 10px;
    border: 2px solid rgb(10, 70, 117);
    background-color: rgba(255, 255, 255, 0.045);
    cursor: pointer;
    /* border: none; */
}

.task .checkTask{
    color: orange;
    margin-right: 5px;
    transition: .5s;
}


.task .checkTask:hover{
    color: white;
    background-color: rgba(10, 71, 117, 0.786);
}


.task .deleteTask{
    color: red;
    margin-right: 5px;
    transition: .5s;
}

.task .deleteTask:hover{
    background-color: rgba(10, 71, 117, 0.749);
    color: white;
}


/* #384ca4 primary
 */


 /* #031955 */


@media screen and (min-width: 768px) {
     
    #add-task-container{
        width: 350px;
        left: 28%;

    }

    .task li{
        font-size: 18px;
    }

    .task{
        width: 500px;
    }

    #add-task{
        width: 50px;
        height: 50px;
        font-size: 18px;
    }

}


@media screen and (min-width: 1024px) {
    
    .task{
        width: 700px;
    }

    #add-task-container{
        width: 380px;
        left: 50%;
    }

    .task li{
        font-size: 22px;

    }

    #add-task{
        width: 70px;
        height: 70px;
        font-size: 22px;
    }


}